<%= form_with(model: @professor, local:true) do |f| %>
    <% @professor.errors.full_messages.each do |m|%>
	<span><%= m %></span>
    <% end %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name%>

    <%= f.submit %>
<% end %>
