<div class="column is-half">
    <div class="box">
	<article class="media">
	    <div class="media-left">
		<% color = get_rating_color professor.overall %>
		<span class="<%= "tag is-large " + color if not color.blank? %>" >
		    <%= professor.overall %>
		    <span class= "is-size-7"> / 5.0</span>
		</span>
	    </div>
	    <div class="media-content">
		<div class="content">
		    <h3 class="title"><%= link_to display_name(professor), professor, class: "has-text-primary" %></h3>
		    <p class = "subtitle">
			<small>
			    <span>Helpfulness: <%= professor.helpfulness %> </span>
			    <span class= "is-size-7"> / 5.0</span>
			    <br>
			    <span>Pedagogy: <%= professor.pedagogy %> </span>
			    <span class= "is-size-7"> / 5.0</span>
			    <br>
			    <span>Easiness: <%= professor.easiness%> </span>
			    <span class= "is-size-7"> / 5.0</span>
			</small>
		    </p>
		</div>
	    </div>
	</article>
    </div>
</div>
