<section class="section has-background-light">
    <div class="container">
	<div class="box">
	    <%= form_for "", method: :get, local: true do |f| %>
		<div class="field has-addons">
		    <div class = "control has-icons-left is-expanded">
			<%= f.text_field :q, class: "input is-medium", placeholder: "Search For Professors", value: params[:q] %>
			<span class="icon is-small is-left">
			    <%= fa_icon "search" %>
			</span>
		    </div>
		    <div class="control">
			<%= f.submit "Search", class: "button is-info is-medium" %>
		    </div>
		</div>
	    <% end %>

	</div>
	<div class="level">
	    <div class="level-left">
		<%= form_tag '', method: :get do %>
		    <div class="level-item">
			<%= label_tag :order, "Order by", class: "label" %>
			<div class="select">

			    <%= select_tag :order, options_for_select([["Alphabetical A-Z", "alpha"],["Overall Rating", "rating"]], selected: params[:order]), {class: "select", onchange: "this.form.submit();"} %>

			</div>
		    </div>
		    <div class="level-item">
			<%= label_tag :sort, "Sort", class: "label" %>
			<div class="select">

			    <%= select_tag :sort, options_for_select([["Ascending", "ASC"],["Descending", "DESC"]], selected: params[:sort]), {class: "select", onchange: "this.form.submit();"} %>

			</div>
		    </div>
		<% end %>
	    </div>
	</div>
	<%= render @professors %>
    </div>
</section>
