<%= form_for([@professor, @review], local: true, url: professor_reviews_path) do |f| %>

    <% @review.errors.full_messages.each do |m|%>
	<span><%= m %></span>
    <% end %>


    <div class=  "field is-grouped">
	<%= f.label :helpfulness , class: "label is-extended"%><br>
	<div class = "control">
	    <div class = "select">
		<%= f.select :helpfulness, options_for_select([1,2,3,4,5]) %>
	    </div>
	</div>

	<%= f.label :pedagogy , class: "label"%>
	<div class = "control">
	    <div class = "select">
		<%= f.select :pedagogy, options_for_select([1,2,3,4,5]) %>
	    </div>
	</div>

	<%= f.label :easiness , class: "label"%>
	<div class = "control">
	    <div class = "select">
		<%= f.select :easiness, options_for_select([1,2,3,4,5]) %>
	    </div>
	</div>
    </div>

    <div class=  "field">
	<%= f.label :comment , class: "label"%>
	<div class = "control">
	    <%= f.text_area :comment, class:'textarea' %>
	</div>
    </div>
    <div class=  "field">
	<%= f.label :classTaken, "Class Taken", class: "label"%>
	<div class = "control">
	    <%= f.text_field :classTaken, class: "input" %>
	</div>
    </div>

    <div class=  "field">
	<%= f.label :year, "Year Taken" , class: "label"%>
	<div class = "control">
	    <%= f.text_field :year, value: Time.current.year , class: "input"%>
	</div>
    </div>

    <div class=  "field">
	<%= f.submit "Submit Review", class: "button is-info" %>
    </div>
<% end %>
